.container{
color: black;
text-align: center;
margin-top: 5%;
}
h2{
    margin-top: 3%;
	font-family: 'darker_grotesqueblack';
	font-size: 40px;
}
h3, h4{
    color: gray;
}
.card{
   font-size: xx-large;
   }
   .card-body .list-group h2 a:hover{
       background-color: lightblue;
   }