<div class="container">
  <div class="row">
    <div class="col-md-6">
       <div class="card">
     <img [src]="searches.avatar_url" alt="">
          <div class="card-body">
            <h1> Name: {{searches.login}}</h1>
            <h2> Id: {{searches.id}}</h2>
            <h3>Followers: {{searches.followers}}</h3>
            <h4>Member since: {{searches.created_at|date}}</h4>
            <h5>{{searches.bio}}</h5>
          </div>
        </div>
   </div>
   <div class="col-md-6" id="link">   
    <a [href]="searches.html_url" target="_blank" class="btn btn-success btn-sm">Profile</a>
   </div>
  </div>
</div>
 

