<ul>
    <li><a  routerLink="" routerLinkActive=''>Home</a></li>
    <li><a routerLink="/user" routerLinkActive='active'> User</a></li>
     <li><a  routerLink="/repos" routerLinkActive='active'>Repository</a></li>
     <li><a  routerLink="/profile" routerLinkActive='active'>My Profile</a></li>
</ul>

<div class="boxes">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="box">
            <img [src]="users.avatar_url" alt="">
        </div>
       </div>
      <div class="col-md-6">
       <div class="box" id="box">
            <h2> Name: {{users.login}}</h2>
            <h2> Id: {{users.id}}</h2>
            <h2>Followers: {{users.followers}}</h2>
            <h2>Member since: {{users.created_at|date}}</h2>
            <a [href]="users.html_url" target="_blank" class="btn btn-success btn-sm" id="btn"> Profile</a>
       </div>
      </div>
    </div>
  </div>
</div>