/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
   background: url(./assets/image3.jpg);
   height: fit-content;
}

.container{
    margin-top: 6%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li{
    float: left;
    margin-left: 30%;
    font-size: x-large;
}
  
ul li a {
    display: block;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    color:white;
}
  
li a:hover(.active) {
    background-color: #04AA6D;
    color: white;
  }
  
.active {
    background-color: #04AA6D;
    color: white;
  }

form.form input[type=text] {
      padding: 10px;
      font-size: 30px;
      border: 1px solid grey;
      float: left;
      width:fit-content;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 40px;
      text-align: center;
}
  
form.form button {
      float: left;
      width: 180px;
      padding: 10px;
      background:green;
      color: white;
      font-size: 30px;
      border: 1px solid grey;
      border-left: none;
      border-radius: 40px;
      cursor: pointer;
}
    
form.form button:hover {
      background: #0b7dda;
}
    
form.form::after {
      content: "";
      clear: both;
      display: table;
}